body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

#top-right-img {
    position: fixed;
    top: 110px;
    right: 20px;
    width: 150px; /* Adjust the width as needed */
    height: 150; /* Maintain aspect ratio */
    z-index: 9999; /* Ensure the image stays on top of other content */
}

header {
    background: #333;
    border-bottom: 2px solid #000;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

h2 {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.project {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.project h3 {
    margin-top: 0;
}

.project a {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
}
